@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap'); 

*,
*::before,
*::after {
  box-sizing: border-box;
}

a:link { text-decoration: none; color:rgb(68, 68, 68);}
a:visited { text-decoration: none; color:rgb(68, 68, 68);}
a:hover { text-decoration: none; color:rgb(252, 127, 69);}
a:active { text-decoration: none; color:rgb(68, 68, 68);}

body{
    background-color: #EBEBD3;
}

h1{
font-size: 2.2em;
font-family: 'Cantarell', sans-serif;
color: rgb(68, 68, 68);
}

h2{
font-size: 1.5em;
font-family: 'Cantarell', sans-serif;
font-weight: 600;
color: #083D77;;
}

h3{
font-size: 1.8em;
font-family: 'Cantarell', sans-serif;
color: #083D77;;
}

p{
font-size: 1.3em;
font-family: 'Oxygen', sans-serif;
color: #083D77;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;
    font-family: 'Oxygen', sans-serif; 
    font-size: 0.8em;
    list-style-type: none; 
  } 



span{
    color: #F95638;
}

.ag-name{
    display: flex;
    min-height: 50vh;
    text-align: left;
    place-items: center;
    max-width: 70vh;
    padding-left: 2%;
}

.ag-address{
    display: grid;
    min-height: 50vh;
    text-align: left;
    place-items: left;
    max-width: 60vh;
    padding-left: 10%;
    font-size: 0.5em;
    background-color: #EE964B;
    
}

.introduction{
    display: grid;
    min-height: 70vh;
    text-align: left;
    place-items: center;
    max-width: 70%;
    margin: auto;
}

.profile{
    display: grid;
    min-height: 60vh;
    text-align: left;
    place-items: center;
    max-width: 60%;
    margin: auto;
}

.impact{
    display: grid;
    min-height: 100vh;
    text-align: left;
    place-items: center;
    max-width: 60%;
    margin: auto;
}


li{
    font-size: 1.3em;
    font-family: 'Oxygen', sans-serif;
    color: #083D77;
    padding-bottom: 4%;
    list-style: none;
}

.support{
    display: grid;
    text-align: left;
    place-items: center;
    max-width: 60%;
    margin: auto;
}

.agowner{
    width: 100%;
    height: auto;
    margin: auto;
}
.inside1{
    width: 100%;
    height: auto;
    margin: auto;
    padding: 5%;
    border: 2px solid #EE964B;
}

.takeout{
    width: 70%;
    height: auto;
    margin: auto;
    padding: 5%;
    border: 2px solid #EE964B;
}

figure{
    font-size: 0.7em;
    font-family: 'Oxygen', sans-serif;
    color: rgb(68, 68, 68);
    text-align: center;
}

.foo {
    float: left;
    width: 300px;
    height: 5px;
    border: 1px solid rgba(0, 0, 0, 0);
    padding-bottom: 2%;
  }

  .blue {
    background: #EE964B;
  }


  .support-AG{
    font-size: 1em;
    font-family: 'Oxygen', sans-serif;
    background-color: #F4D35E;
    padding: 2%;
    border-radius: 10px;
    border: 1px solid #f3e7ba;
    padding-bottom: 2%;
  }

