@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap'); 

*,
*::before,
*::after {
  box-sizing: border-box;
}

a:link { text-decoration: none; color:rgb(248, 197, 138);}
a:visited { text-decoration: none; color:rgb(68, 68, 68);}
a:hover { text-decoration: none; color:rgb(252, 127, 69);}
a:active { text-decoration: none; color:rgb(68, 68, 68);}

body{
    background-color: #EBEBD3;
}

@media only screen and (min-width: 800px){
    h1{
     font-size: 4em;
    }
}

.container{
    display: grid;
    min-height: 85vh;
    text-align: left;
    place-items: center;
    max-width: 60vh;
    padding-left: 5%;
}

.foo{
    width: 200px;
    height: 3px;
    border: 1px solid rgba(0, 0, 0, 0);
    padding-bottom: 2%;
    background:  #F95638;
    position: absolute;
    top: 18%;
}

.foo2{
    width: 10px;
    height: 200px;
    border: 1px solid rgba(0, 0, 0, 0);
    padding-bottom: 2%;
    background:  #F95638;
    position: absolute;
    bottom: 0;
}

.foo3{
    width: 10px;
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0);
    padding-top: 2%;
    padding-bottom: 2%;
    background:  #F95638;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;
    font-family: 'Oxygen', sans-serif; 
    font-size: 1em;
    list-style-type: none; 
  } 

span{
    color: #F95638;
}


.introduction{
    display: grid;
    min-height: 100vh;
    text-align: left;
    place-items: center;
    padding: 5%;
}

.overview-part-1{
    display: grid;
    min-height: 100vh;
    text-align: left;
    place-items: center;
    max-width: 60%;
    margin: auto;
}

.overview-part-2{
    display: grid;
    min-height: 90vh;
    text-align: left;
    place-items: center;
    max-width: 60%;
    margin: auto;
}

.overview-part-3{
    display: grid;
    min-height: 100vh;
    text-align: left;
    place-items: center;
    max-width: 60%;
    margin: auto;
}

h1{
font-size: 3em;
font-family: 'Cantarell', sans-serif;
color: rgb(68, 68, 68);
}

h2{
font-size: 2em;
font-family: 'Cantarell', sans-serif;
font-weight: 400;
color: #083D77;
}

h3{
font-size: 1.8em;
font-family: 'Cantarell', sans-serif;
color: #083D77;
}

p{
font-size: 1.3em;
font-family: 'Oxygen', sans-serif;
color: #083D77;
}

.stats-set1{
    display: grid;
    min-height: 100vh;
    text-align: left;
    place-items: center;
    max-width: 60%;
    margin: auto;
}


.tableauPlaceholder {
   max-width: 100%;
   max-height:100%;
   margin: auto;
   size: 40%;

}

blockquote{
    line-height:2em;
    font-size: 0.9em;
    font-family: 'Oxygen', sans-serif;
    text-align: center;
    background-color: #f4d45ebd;
    max-width: 100%;
    padding: 10%;
    margin: 10%;

}

.overview{
    margin: auto;
    max-width: 80%;
    line-height: 3em;
}

.cta-section {
    margin: auto;
    max-width: 80%;
    line-height: 3em;
    margin-bottom: 5%;
}

.cta {
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 5%;
    max-width: 80%;
}

a:visited .chinatown-button{
    text-decoration: none;
}

.chinatown-button{
    font-size: 1.2em;
    font-family: 'Oxygen', sans-serif;
    background-color: #f95538a2;
    padding: 3%;
    border-radius: 10px;
    border: 1px solid #f3e7ba;
}

.chinatown-button:hover{
    background-color: #f3ba88;
}

.revere-button{
    font-size: 1.2em;
    font-family: 'Oxygen', sans-serif;
    background-color: #f95538a2;
    padding: 3%;
    border-radius: 10px;
    border: 1px solid #f3e7ba;
}

.revere-button:hover{
    background-color: #f3ba88;
}





