@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap'); 

*,
*::before,
*::after {
  box-sizing: border-box;
}

a:link { text-decoration: none; color:rgb(68, 68, 68)}
a:visited { text-decoration: none; color:rgb(68, 68, 68);}
a:hover { text-decoration: none; color:rgb(252, 127, 69);}
a:active { text-decoration: none; color:rgb(68, 68, 68);}

body{
    background-color: #EBEBD3;
}

.container{
    display: grid;
    min-height: 85vh;
    text-align: left;
    place-items: center;
    max-width: 60vh;
    padding-left: 5%;
}

.foo{
    width: 200px;
    height: 3px;
    border: 1px solid rgba(0, 0, 0, 0);
    padding-bottom: 2%;
    background:  #F95638;
    position: absolute;
    top: 18%;
}

.foo2{
    width: 10px;
    height: 200px;
    border: 1px solid rgba(0, 0, 0, 0);
    padding-bottom: 2%;
    background:  #F95638;
    position: absolute;
    bottom: 0;
}

.foo3{
    width: 10px;
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0);
    padding-top: 2%;
    padding-bottom: 2%;
    background:  #F95638;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;
    font-family: 'Oxygen', sans-serif; 
    font-size: 0.7em;
    font-weight: bold;
    list-style-type: none; 
    color:rgb(68, 68, 68);
  } 

  .nav-links{
      font-weight: bold;
  }

span{
    color: #F95638;
}


.introduction{
    display: grid;
    min-height: 100vh;
    text-align: left;
    place-items: center;
    padding: 5%;
}

.overview-part-1{
    display: grid;
    min-height: 100vh;
    text-align: left;
    place-items: center;
    max-width: 60%;
    margin: auto;
}

.overview-part-2{
    display: grid;
    min-height: 90vh;
    text-align: left;
    place-items: center;
    max-width: 60%;
    margin: auto;
}

.overview-part-3{
    display: grid;
    min-height: 100vh;
    text-align: left;
    place-items: center;
    max-width: 60%;
    margin: auto;
}

h1{
font-size: 3em;
font-family: 'Cantarell', sans-serif;
color: rgb(68, 68, 68);
}


h2{
font-size: 1.3em;
font-family: 'Cantarell', sans-serif;
font-weight: bold;
color: #083D77;
}

h3{
font-size: 1.8em;
font-family: 'Cantarell', sans-serif;
font-weight: bold;
color: #083D77;
}

p{
font-size: 1.1em;
font-family: 'Oxygen', sans-serif;
color: #083D77;
}

.stats-set1{
    display: grid;
    min-height: 100vh;
    text-align: left;
    place-items: center;
    max-width: 60%;
    margin: auto;
}


.tableauPlaceholder {
   max-width: 100%;
   max-height:100%;
   margin: auto;
   size: 40%;

}

blockquote{
    line-height:2em;
    font-size: 0.9em;
    font-family: 'Oxygen', sans-serif;
    text-align: center;
    background-color: #f4d45ebd;
    max-width: 100%;
    padding: 10%;
    margin: 10%;

}

.overview{
    margin: auto;
    max-width: 80%;
    line-height: 3em;
}

.cta-section {
    margin: auto;
    max-width: 80%;
    line-height: 3em;
    margin-bottom: 5%;
}

.cta {
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 5%;
    max-width: 80%;
}

a:visited .chinatown-button{
    text-decoration: none;
}

.chinatown-button{
    font-size: 1.2em;
    font-family: 'Oxygen', sans-serif;
    background-color: #f95538a2;
    padding: 3%;
    border-radius: 10px;
    border: 1px solid #f3e7ba;
}

.chinatown-button:hover{
    background-color: #f3ba88;
}

.revere-button{
    font-size: 1.2em;
    font-family: 'Oxygen', sans-serif;
    background-color: #f95538a2;
    padding: 3%;
    border-radius: 10px;
    border: 1px solid #f3e7ba;
}

.revere-button:hover{
    background-color: #f3ba88;
}

/* restaurant specific css */
.ag-name{
    display: flex;
    min-height: 50vh;
    text-align: left;
    place-items: center;
    max-width: 70vh;
    padding-left: 2%;
}

.ag-address{
    display: grid;
    min-height: 50vh;
    text-align: left;
    place-items: left;
    max-width: 60vh;
    padding-left: 10%;
    font-size: 0.5em;
    background-color: #EE964B;
    
}

.introduction{
    display: grid;
    min-height: 70vh;
    text-align: left;
    place-items: center;
    max-width: 70%;
    margin: auto;
}

.profile{
    display: grid;
    min-height: 60vh;
    text-align: left;
    place-items: center;
    max-width: 60%;
    margin: auto;
}

.impact{
    display: grid;
    min-height: 60vh;
    text-align: left;
    place-items: center;
    max-width: 60%;
    margin: auto;
    margin-top: 5%;
}

blockquote.restaurant-blockquote{
    line-height:2em;
    font-size: 0.9em;
    font-family: 'Oxygen', sans-serif;
    font-style: italic;
    text-align: center;
    background-color: #f4d45ebd;
    max-width: 100%;
    padding: 10%;
    margin: 10%;
  }

li{
    font-size: 1.1em;
    font-family: 'Oxygen', sans-serif;
    color: #083D77;
    padding-bottom: 5%;
    list-style: none;
}

.support{
    display: grid;
    text-align: left;
    place-items: center;
    max-width: 60%;
    margin: auto;
    margin-top: 5%;
}

.agowner{
    width: 50%;
    height: auto;
    margin: auto;
}
.inside1{
    width: 60%;
    height: auto;
    margin: auto;
    padding: 5%;
    border: 2px solid #EE964B;
}

.takeout{
    width: 70%;
    height: auto;
    margin: auto;
    padding: 5%;
    border: 2px solid #EE964B;
}

figure{
    font-size: 0.7em;
    font-family: 'Oxygen', sans-serif;
    color: rgb(68, 68, 68);
    text-align: center;
}

.support-AG{
    font-size: 1em;
    font-family: 'Oxygen', sans-serif;
    background-color: #F4D35E;
    padding: 2%;
    border-radius: 10px;
    border: 1px solid #f3e7ba;
  }

  .blue {
    background: #EE964B;
  }

  

/* asian garden restaurant specific css */
.foo-ag {
    float: left;
    width: 300px;
    height: 5px;
    border: 1px solid rgba(0, 0, 0, 0);
    padding-bottom: 2%;
  }


/* el pelon specific css */

.helpEB{
    font-size: 1em;
    font-family: 'Oxygen', sans-serif;
    background-color: #F4D35E;
    padding: 1%;
    border-radius: 10px;
    border: 1px solid #f3e7ba;
  }


  .foo-eb {
    float: left;
    width: 300px;
    height: 5px;
    border: 1px solid rgba(0, 0, 0, 0);
    padding-bottom: 2%;
  }

/* about us specific css */
.about-us{
    display: flex;
    min-height: 100vh;
    text-align: left;
    place-items: center;
    max-width: 70vh;
    padding-left: 2%;
  }

  .block{
    width: 200px;
    height: 5px;
    border: 1px solid rgba(0, 0, 0, 0);
    padding-bottom: 2%;
    background:  #F95638;
  }

  .block2{
    width: 10px;
    height: 400px;
    border: 1px solid rgba(0, 0, 0, 0);
    padding-bottom: 2%;
    background:  #F95638;
    position: absolute;
    top: 58%;
    right: 20%;

  }

  .selina-image{
    display:flex;
    justify-content: center;
    width: 50%;
    height: auto;
    margin: auto;
    padding: 5%;
    border: 2px solid #EE964B;
    
  }

  .elyana-image{
    display:flex;
    justify-content: center;
    width: 50%;
    height: auto;
    margin: auto;
    padding: 5%;
    border: 2px solid #EE964B;
  }

  main.aboutus-main{
    display: grid;
    max-height: 100vh;
    text-align: left;
    place-items: center;
    max-width: 70%;
    margin: auto;
  }

  section.doc-links{
    text-align: center;
  }

  @media only screen and (min-width: 600px){
    p{
        font-size: 1.2em;
       }
    
   h2{
        font-size: 1.5em;
    }

    nav ul {
        font-size: 0.9em;
      } 
    
    li{
        font-size: 1.2em;
      }

    }


  @media only screen and (min-width: 800px){
    h1.front-page-header{
     font-size: 3.5em;
     min-height: 100vh;
     max-width: 100%;
    }

    h2{
        font-size: 1.8em;
    }

    h3{
        font-size: 2em;
    }

    p{
        font-size: 1.6em;
       }
    
    li{
        font-size: 1.6em;
        max-width: 90%;
       }
    
     /*change to about us*/  
    div.bios{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        column-gap: 5%;
    }

    section.selina h1{
        font-size: 2.5em;
    }

    section.elyana h1{
        font-size: 2.5em;
    }
}





