@import url('https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap'); 

*,
*::before,
*::after {
  box-sizing: border-box;
}

a:link { text-decoration: none; color:rgb(68, 68, 68)}
a:visited { text-decoration: none; color:rgb(68, 68, 68);}
a:hover { text-decoration: none; color:#F95638;}
a:active { text-decoration: none; color:rgb(68, 68, 68);}


/* universal + home page css */

body{
    background-color: #EBEBD3;
}

.header-image{
    max-width: 80%;
}

.container{
    display: grid;
    min-height: 85vh;
    text-align: left;
    place-items: center;
    max-width: 60vh;
    padding-left: 5%;
}

.foo{
    width: 200px;
    height: 3px;
    border: 1px solid rgba(0, 0, 0, 0);
    padding-bottom: 2%;
    background:  #F95638;
    position: absolute;
    top: 18%;
}

.foo2{
    width: 10px;
    height: 300px;
    border: 1px solid rgba(0, 0, 0, 0);
    padding-bottom: 2%;
    background:  #F95638;
    position: absolute;
    top: 75%;
    right: 10%
}

.foo3{
    width: 10px;
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0);
    padding-top: 2%;
    padding-bottom: 2%;
    background:  #F95638;
}

.foo4{
    display: inline;
    width: 10px;
    height: 100px;
    position: relative;
    background:  #F95638;
    bottom: 100%;
    right: 60%;
}

.foo5{
    width: 50px;
    height: 10px;
    position: relative;
    background:  #F95638;
}

nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 5%;
    font-family: 'Oxygen', sans-serif; 
    font-size: 0.7em;
    font-weight: bold;
    list-style-type: none; 
    color:rgb(68, 68, 68);
  } 

  .nav-links{
      font-weight: bold;
  }

  a.restaurant-link{
    text-decoration: none; color:#083D77}
  a.restaurant-link:hover { text-decoration: none; color:#F95638;}

  a.bottom-cta:hover { text-decoration: none; color:rgb(68, 68, 68);}
  

  .header-span{
      color: #083D77;
  }

span{
    color: #d66401;
}


.homepage-introduction{
    display: grid;
    text-align: left;
    place-items: center;
    max-width: 70%;
    margin: auto;
    padding: 2%;
}

.overview-part-1{
    display: grid;
    text-align: left;
    place-items: center;
    max-width: 70%;
    margin: auto;
}

.overview-part-2{
    display: grid;
    min-height: 90vh;
    text-align: left;
    place-items: center;
    max-width: 70%;
    margin: auto;
}

.overview-part-3{
    display: grid;
    min-height: 90vh;
    text-align: left;
    place-items: center;
    max-width: 70%;
    margin: auto;
}

h1{
font-size: 3em;
font-family: 'Cantarell', sans-serif;
color: rgb(68, 68, 68);
}


h2{
font-size: 1.3em;
font-family: 'Cantarell', sans-serif;
font-weight: bold;
color: #083D77;
}

h3{
font-size: 1.8em;
font-family: 'Cantarell', sans-serif;
font-weight: bold;
color: #083D77;
}

h4{
font-size: 1.8em;
font-family: 'Cantarell', sans-serif;
color: #d66401;
}

p{
font-size: 1.1em;
font-family: 'Oxygen', sans-serif;
color: #083D77;
}

.stats-set1{
    display: grid;
    min-height: 70vh;
    text-align: left;
    place-items: center;
    max-width: 70%;
    margin: auto;
}


.tableauPlaceholder {
   max-width: 100%;
   max-height:100%;
   margin: auto;
   size: 40%;

}

blockquote{
    line-height:2em;
    font-size: 1em;
    font-family: 'Oxygen', sans-serif;
    text-align: left;
    color:rgb(68, 68, 68);
    max-width: 100%;
    padding: 5%;
    margin: 1%;

}

.quotemark{
    max-height: 50px;
    position: relative;
    top:auto;
}

.overview{
    margin: auto;
    max-width: 80%;
    line-height: 3em;
}

.cta-section {
    margin: auto;
    max-width: 80%;
    line-height: 3em;
    margin-bottom: 5%;
}

div.cta-section > h3{
    text-align:center;
}

.cta {
    display: flex;
    justify-content: space-around;
    margin: auto;
    margin-top: 5%;
    max-width: 80%;
}

a:visited .chinatown-button{
    text-decoration: none;
}

.chinatown-button{
    font-size: 1.2em;
    font-family: 'Oxygen', sans-serif;
    background-color: #f95538a2;
    padding: 3%;
    border-radius: 10px;
    border: 1px solid #f3e7ba;
}

.chinatown-button:hover{
    background-color: #f3ba88;
}

.revere-button{
    font-size: 1.2em;
    font-family: 'Oxygen', sans-serif;
    background-color: #f95538a2;
    padding: 3%;
    border-radius: 10px;
    border: 1px solid #f3e7ba;
}

.revere-button:hover{
    background-color: #f3ba88;
}

/* restaurant specific css */

.to-restaurant-video{
    padding-top: 10%;
    text-align: center;
}

.restaurant-arrow{
    display: none;
}

.restaurant-arrow-ag{
    display: none;
}

.name{
    display: flex;
    min-height: 50vh;
    text-align: left;
    place-items: center;
    max-width: 70vh;
    padding-left: 2%;
}

.address{
    display: grid;
    min-height: 50vh;
    text-align: left;
    place-items: left;
    max-width: 60vh;
    padding-left: 10%;
    font-size: 0.5em;
    background-color: #EE964B;
    
}

.introduction{
    display: grid;
    min-height: 60vh;
    text-align: left;
    place-items: center;
    max-width: 70%;
    margin: auto;
}

.profile{
    display: grid;
    min-height: 60vh;
    text-align: left;
    place-items: center;
    max-width: 60%;
    margin: auto;
}

.star-ag{
    display: inline-block;
    padding: 0;
    position: relative;
    width: 15%;
    bottom: 30vh;
    left: 30%;
}

.star-ag2{
    display: inline;
    position: relative;
    width: 15%;
    bottom: 25vh;
    right: 30%;
}

.impact{
    display: grid;
    min-height: 60vh;
    text-align: left;
    place-items: center;
    max-width: 60%;
    margin: auto;
    margin-top: 5%;
}

blockquote.restaurant-blockquote{
    line-height:2em;
    font-size: 1em;
    font-family: 'Oxygen', sans-serif;
    font-style: italic;
    text-align: center;
    background-color: #f4d45ebd;
    color:rgb(68, 68, 68);
    max-width: 100%;
    padding: 10%;
    margin: 10%;
  }

li{
    font-size: 1.1em;
    font-family: 'Oxygen', sans-serif;
    color: #083D77;
    padding: 6%;
    list-style: none;
}

.support{
    display: grid;
    text-align: center;
    place-items: center;
    max-width: 60%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 6%;
}

a.support-button:hover { text-decoration: none; color:rgb(68, 68, 68); }

.owner{
    display:inline;
    width: 70%;
    height: auto;
}
.inside1{
    width: 60%;
    height: auto;
    margin: auto;
    padding: 5%;
    border: 2px solid #EE964B;
}

.takeout{
    width: 70%;
    text-align: center;
    margin: auto;
    padding: 5%;
    border: 2px solid #EE964B;
}

figure{
    font-size: 0.7em;
    font-family: 'Oxygen', sans-serif;
    color: rgb(68, 68, 68);
    text-align: center;
    margin-inline-end: 0px;
    margin-block-end: 0em;
}

.rest-image-caption{
    font-size: 2.5em;
    font-style: italic;
}

.support-AG{
    font-size: 1em;
    font-family: 'Oxygen', sans-serif;
    background-color: #F4D35E;
    padding: 2%;
    border-radius: 10px;
    border: 1px solid #f3e7ba;
  }

  .blue {
    background: #f95538c2;
  }

  .poc-statistics{
    display: inline-block;
    text-align: left;
    max-width: 100%;
    margin: auto;
    padding: 5%;
    font-size: 0.6em;
    
}

.restaurant-image{
    max-width: 80%;
}

.eb-restaurant-image{
    max-width: 100%;
}


.takeout-arrow-ag{
    display: none;
}

.take-out-caption{
    display: block;
    max-width: 100%;
    font-size: 1.3em;
    margin-bottom: 3%;

}

.inside-caption{
    display: block;
    font-size: 1.1em;
    color: #083D77;
}




/* asian garden restaurant specific css */
.foo-ag {
    float: left;
    width: 300px;
    height: 5px;
    border: 1px solid rgba(0, 0, 0, 0);
    padding-bottom: 2%;
  }


/* el pelon specific css */

.helpEB{
    font-size: 1em;
    font-family: 'Oxygen', sans-serif;
    background-color: #F4D35E;
    padding: 1%;
    border-radius: 10px;
    border: 1px solid #f3e7ba;
  }


  .foo-eb {
    float: left;
    width: 300px;
    height: 5px;
    border: 1px solid rgba(0, 0, 0, 0);
    padding-bottom: 2%;
  }

/* about us specific css */
.about-us{
    display: flex;
    min-height: 100vh;
    text-align: left;
    place-items: center;
    max-width: 70vh;
    padding-left: 2%;
  }

  .block{
    width: 200px;
    height: 5px;
    border: 1px solid rgba(0, 0, 0, 0);
    padding-bottom: 2%;
    background:  #F95638;
  }

  .block2{
    width: 10px;
    height: 400px;
    border: 1px solid rgba(0, 0, 0, 0);
    padding-bottom: 2%;
    background:  #F95638;
    position: absolute;
    top: 58%;
    right: 20%;

  }

  .selina-image{
    display:flex;
    justify-content: center;
    width: 50%;
    height: auto;
    margin: auto;
    padding: 5%;
    border: 2px solid #EE964B;
    
  }

  .elyana-image{
    display:flex;
    justify-content: center;
    width: 50%;
    height: auto;
    margin: auto;
    padding: 5%;
    border: 2px solid #EE964B;
  }

  main.aboutus-main{
    display: grid;
    max-height: 100vh;
    text-align: left;
    place-items: center;
    max-width: 70%;
    margin: auto;
  }

  section.doc-links{
    text-align: center;
  }


  @media only screen and (min-width:300px){
    p{
        font-size: 1em;
       }
    
  }

  @media only screen and (min-width: 550px){
    p{
        font-size: 1.1em;
       }
  }


  @media only screen and (min-width: 600px){
    p{
        font-size: 1.2em;
       }
    
   h2{
        font-size: 1.3em;
    }

    h3{
        font-size: 1.2em;
    }

    nav ul {
        font-size: 0.9em;
      } 
    
    li{
        font-size: 1.2em;
        max-width: 100%;
      }

    .container{
        display: flex;
    }

    .header-image{
        max-width: 90%;
        object-position: 80px;
    }

    blockquote{
        font-size: 1.3em;
    }

    /* restaurant specific media query */

    .to-restaurant-video{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    min-height: 70vh;
    text-align: center;
    place-items: center;
    max-width: 90%;
    margin: auto;
    position: relative;
    right: 20vh;
    }

    p.video-description{
    color:#083D77;
    font-size: 1.1em;
    font-weight: bold;
    position: relative;
    left: 120px;
    }

    .inside-caption{
        position: relative;
        right: 40%;
        font-size: 1.3em;
        font-weight: bold;
        color:#083D77;
    }

    .take-out-caption{
        display: block;
        position: relative;
        max-width: 50%;
        font-size: 1.2em;
        left: 85%;
        bottom: 150px;
        transform: rotate(20deg);
        color: rgb(252, 127, 69);
        margin-bottom: 0;

    }

    .takeout-arrow-ag{
        display: inline-block;
        position: relative;
        bottom: 140px;
        max-width: 20%;
        left: 50%;
        transform: rotate(180deg);
    }

    
    }

  @media only screen and (min-width: 800px){
    
    nav ul {
        padding: 3%;
        font-family: 'Oxygen', sans-serif; 
        font-size: 0.7em;
    }

    h1.front-page-header{
     font-size: 3.5em;
     min-height: 100vh;
     max-width: 100%;
    }

    .header-image{
        position: absolute;
        max-width: 50%;
        right: 80px; 
        bottom: 10px;
    }

    h2{
        font-size: 1.5em;
    }

    h3{
        font-size: 2em;
    }

    p{
        font-size: 1.3em;
       }
    
    li{
        font-size: 1.3em;
        max-width: 90%;
       }
    
     p.video-description{
        color:#083D77;;
        font-size: 1.1em;
        font-weight: bold;
        left: 20vh;
        }

    .inside-caption{
        font-size: 3em;
        position: relative;
        bottom: 45vh;
    }

    .take-out-caption{
        position: relative;
        max-width: 50%;
        font-size: 2em;
        left: 85%;
        bottom: 300px;
        transform: rotate(20deg);
        color: rgb(252, 127, 69);
    }

    .takeout-arrow-ag{
        visibility: visible;
        position: relative;
        bottom: 300px;
        left: 50%;
        transform: rotate(180deg);
    }

    figcaption{
        font-size: 2em;
        color: #083D77;
    }

    .poc-statistics{
        font-size: 0.9em;
    }

     /*change to about us*/  
     div.bios{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        column-gap: 5%;
    }

    section.selina h1{
        font-size: 2.5em;
    }

    section.elyana h1{
        font-size: 2.5em;
    }

}

@media only screen and (min-width: 1000px){


    /* restaurant specific css */

    p.video-description{
        color:#083D77;
        font-weight: bold;
        position: relative;
        left: 40vh;
        font-size: 2em;
        }

    .restaurant-image{
        position: absolute;
        max-width: 40%;
        top: 70vh;
        right: 8%;
    }

    .restaurant-arrow-ag{
        display: inline-block;
        position: absolute;
        top: 210px;
        right: 330px;
        transform: rotate(80deg);
    }

    .rest-image-caption{
        position: absolute;
        right: 30%;
        top: 60%;
        font-size: 4em;
        color:rgb(252, 127, 69);
    }
    
    .restaurant-arrow{
        display: inline-block;
        position: absolute;
        top: 60%;
        right: 230px;
        transform: rotate(90deg);
    }

    .eb-restaurant-image{
        position: absolute;
        max-width: 40%;
        top: 40vh;
        right: 8%;
    }

    .eb-rest-image-caption{
        position: absolute;
        bottom: 510px;
        left: 460px;
        font-size: 3.5em;
        color:rgb(252, 127, 69);
    }

    .takeout-arrow-ag{
        visibility: visible;
        position: relative;
        bottom: 300px;
        left: 50%;
        transform: rotate(180deg);
    }

    .inside-caption{
        font-size: 3em;
    }

    .inside-caption{
        font-size: 3em;
        position: relative;
        bottom: 50vh;
    }
    
}


@media only screen and (min-width: 1200px){

    nav li{
        font-size: 1.5em;
    }

    a.centering-com{
        font-size: 1em;
    }

    li{
        font-size: 1.3em;
        max-width: 100%;
    }

    /* restaurant specific css */
.restaurant-image{
    position: absolute;
    max-width: 40%;
    top: 40vh;
    right: 8%;
}

.eb-restaurant-image{
    position: absolute;
    max-width: 40%;
    top: 40vh;
    right: 8%;
}

.rest-image-caption{
    position: relative;
    max-width: 50%;
    left: 300px;
    top: -470px;
    font-size: 4em;
    color:rgb(252, 127, 69);
}

.eb-rest-image-caption{
    position: relative;
    bottom: 530px;
    left: 250px;
    font-size: 3.5em;
    color:rgb(252, 127, 69);
    }


.restaurant-arrow{
    display: inline-block;
    position: absolute;
    top: 40%;
    right: 45%;
    transform: rotate(45deg);
}

.restaurant-arrow-ag{
    display: inline-block;
    position: absolute;
    top: 30%;
    right: 45%;
    transform: rotate(30deg);
}

.inside-caption{
    font-size: 3em;
    position: relative;
    bottom: 50vh;
}

.takeout-arrow-ag{
    display: inline-block;
    position: relative;
    bottom: 300px;
    left: 50%;
    transform: rotate(180deg);
}
 
}

@media only screen and (min-width: 1300px) {
    .restaurant-arrow{
        display: inline-block;
        position: absolute;
        top: 40%;
        right: 50%;
        transform: rotate(45deg);
    }
}